body{
    padding:0;  /*去除内边距*/
    border:0;   /*去除边框*/
    margin:0;   /*去除外边距*/
    position:relative;
}
/* 头部 */
.z-header{
    width: 1280px;
    height: 40px;
    background: #fff;
    margin: 0 auto;
    position: relative;
}
#left{
    float: left;
    margin-left: 200px;
    height: 100%;
    width: 700px;
    /* background-color:red;  */
}
.ul{
    margin-top: 0;
    margin-bottom: 1em;
    height: 100%;
    width: 100%;
    list-style: none;
}
.ul li{
    float: left;
    margin: 0 18px;
    height: 40px;
    width: 60px;
    text-align: center;
    line-height: 40px;
    color: #505050;
    cursor: pointer;
}
.ul li a{
    width:70px;
    text-decoration-line: none;
    /* height:50px; */
    /* padding:0 20px; */
    font-size: 15px;
    /* line-height:50px; */
    /* background: red; */
    display: inline-block;
}
.right{
    width:15%;
    float: right;
}


.right span{
    /* float: right; */
    /* margin: 0 18px; */
    height: 40px;
    /* text-align: center; */
    line-height: 40px;
    color: #505050;
    cursor: pointer;
}
/* 左侧列表 */
.logo{
    /* width: 200px; */
    /* height: 800px; */
    background: #293039;
    border: 1px solid #293039;
    left: 80px;
    text-align: center;

    width: 210px;
    height: 1064px;
    background-color: #293039;
    position: fixed;
    /* left: 40px; */
    top: 0;
    z-index: 499;
    color: #a3a3a4;
    font-size: 14px;
    /* overflow-y: auto; */

    }
    .logo img{
    margin-top: 5px;
    margin-bottom: 15px;
    }
    .logo a{
    color: #ccc;
    text-decoration: none;
    }
    .logo div{
    width: 200px;
    height: 26px;
    background: #000;
    color: #fff;
    margin-top: 0px;
    font-size: 13px;
    }

    /* 上部条幅 */
    .tbf{
    /* width: 100%; */
    height: 170px;
    position: relative;
    background: linear-gradient(60deg, #91b0ed, #e67df4);
    background-color:#91b0ed;
    color: #fff;
    font-size: 18px;
    }
    .title .p{
    position: absolute;
    left: 50%;
    top: 56px;
    transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -webkit-user-select: none;
    font-size: 25px;
    }
   .tfd{
        height: 26px;
        width: 100%;
        background: #e4e9ec;
        line-height: 26px;
        font-size: 14px;
        margin-top: -15px;
    } 

    .class{
     min-width: 100px;
    font-size: 16px;
    height: 22px;
    line-height: 22px;
    text-indent: 11px;
    background: url(data:image/gif;base64,R0lGODlhBAAWAIAAAErA3wAAACH/C1hNUCBEYXRhWE1QPD94cGFja…YVFBMSERAPDg0MCwoJCAcGBQQDAgEAACH5BAAAAAAALAAAAAAEABYAAAIIhI+py+0PXQEAOw==) no-repeat 0 0px;
    margin: 20px 0 12px 0;
    position: relative;
    padding-left: 300px;
    
    }


    /* 中部列表 */
    .zhongbu{
        width: 1280px;
        margin: 0 auto;
        float: left;
        height: 1540px;
    }
    .NR .o div{
        display: block;
        line-height: 32px;
        /* height: 32px; */
        color: #fff;
        background: gray;
        margin-top: 4px;
        text-indent: 20px;
        border-bottom:thick dotted blueviolet; 
        
    }
    .NR .o span{
        margin-top:2px 
    }
    
    /* 底部 */
.foot{
    width: 100%;
    height: 120px;
    padding-top: 30px;
    text-align: center;
    bottom: 0;
    background-image: url(./images/ditu.jpg);
    /* position: fixed; */
    margin-top:1600px;
    }
    .foot .foot_upper img{
    margin-top: 20px;
    width: 140px;
    height: 50px;
    }
    .foot .foot_upper .img_left{
    width: 110px;
    height: 30px;
    }
    .foot .foot_middle{
    color: #ccc;
    font-size: 12px;
    }
    .foot .foot_middle span:hover{
    color: #fff;
    cursor: pointer;
    }
    .foot .foot_lower{
    color: #ccc;
    font-size: 12px;
    text-align: center;
    }


