* {
    padding: 0;
    border: 0;
    margin: 0;
}

/* 导航栏 */
.z-header {
    width: 1280px;
    height: 40px;
    background: #fff;
    margin: 0 auto;
    position: relative;
}

#left {
    float: left;
    margin-left: 200px;
    height: 100%;
    width: 700px;
    /* background-color:red;  */
}

.ul {
    margin-top: 0;
    margin-bottom: 1em;
    height: 100%;
    width: 100%;
    list-style: none;
}

.ul li {
    float: left;
    margin: 0 18px;
    height: 40px;
    width: 60px;
    text-align: center;
    line-height: 40px;
    color: #505050;
    cursor: pointer;
}

.ul li a {
    width: 70px;
    text-decoration-line: none;
    /* height:50px; */
    /* padding:0 20px; */
    font-size: 15px;
    /* line-height:50px; */
    /* background: red; */
    display: inline-block;
}

.right {
    width: 18%;
    float: right;
}

.right span.ask {
    /* float: right; */
    height: 40px;
    width: 104px;
    background: #49c0e0;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    color: #fff;

}

.right span.name {
    display: inline-block;
    min-width: 70px;
    text-align: center;
    color: rgb(163, 163, 164);
    height: 100%;
}

/* 主体上部 */
.tfbox {
    height: 229px;
    width: 100%;

}

.tf {
    /* width: 100%; */
    height: 170px;
    position: relative;
    background: linear-gradient(60deg, #91b0ed, #e67df4);
    background-color: #91b0ed;
    color: #fff;
    font-size: 18px;
}

.tf .title .p {
    position: absolute;
    left: 50%;
    top: 56px;
    transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -webkit-user-select: none;
    font-size: 25px;
}

/* 条幅下部介绍 */
.tfbox .js {
    height: 36px;
    background: #e4e9ec;
    width: 100%;
    line-height: 36px;
    font-size: 14px;
}

.lineTab1 {
    height: 36px;
    position: relative;
    width: 1280px;
    margin: 0px auto;
}

.lineTab1-1 {
    float: left;
}

.lineTaba {
    margin-right: 80px;
    position: absolute;
    right: -70px;
    font-size: 14px;
    text-align: center;
    color: #7b8086;
    height: 36px;
    line-height: 36px;
}

/* 左侧定位列表 */
.logo {
    background: #293039;
    border: 1px solid #293039;
    left: 80px;
    text-align: center;
    width: 210px;
    height: 1064px;
    background-color: #293039;
    position: fixed;
    top: 0;
    z-index: 499;
    color: #a3a3a4;
    font-size: 14px;
}

/* 主体 选择栏 */
.biaoqian1 {
    width: 1280px;
    height: 40px;
    background: white;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.biao1 {
    float: left;
    margin-left: 400px;
    height: 100%;
    width: 700px;
    /* margin-top:50px; */
}

.biao1 ul li {
    float: left;
    left: 10px;
    margin: 0 50px;
    height: 40px;
    width: 70px;
    text-align: center;
    line-height: 40px;
    color: #505050;
    cursor: pointer;
    list-style: none outside none;
    /* width: 80px; */
    height: 49px;
    border-width: 5px 1px 1px;
    border-style: solid;
    border-color: rgb(73, 192, 224) rgb(238, 238, 238) transparent;
    text-align: center;
    color: rgb(97, 97, 97);
    position: relative;
}

.biao2 {
    overflow: hidden 20px;
    float: right;
    margin-right: 100px;
    height: 40px;
    width: 120px;
    background: #49c0e0;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    color: #fff;
    position: relative;
    right: 10px;
    /* top:50px; */
}

.zhong {
    background: rgb(244, 244, 245);
    position: relative;
    top: 100px;
    height: 700px;

}

.zhong1 {
    min-height: 80vh;
}

.biao-1 {
    display: block;
    text-align: left;
    height: 42px;
}

.biao1-span {
    margin: 0px auto 0px 10px;
    width: 290px;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    /* background: #4ac6e7; */
    color: #fff;
    border-radius: 4px;
    position: relative;
    top: 60px;
    color: black;
}

.span-1 {
    cursor: pointer;
    width: 170px;
    height: 32px;
    display: inline-block;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.span-2 {
    /* float: right; */
    display: inline-block;
    /* border: 1px solid rgb(255, 255, 255); */
    width: 102px;
    height: 27px;
    text-align: center;
    /* color: rgb(255, 255, 255); */
    font-size: 14px;
    line-height: 27px;
    margin-top: 3px;
    margin-right: 3px;
    text-indent: 0px;
    cursor: pointer;
    opacity: 0.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.zl {
    font-size: 18px;
    /* font-weight: normal; */
    width: 96px;
    text-align: center;
    line-height: 20px;
    height: 23px;
    border-left: 4px solid #4abfe0;
    color: #606060;
}

.lianxi1 {
    position: absolute;
    top: 30px;
    width: 1013px;
    overflow: hidden;
    height: 400px;
}

.a1 {
    float: left;
    font-size: 18px;
    width: 400px;
}

.lianxi1 span {
    float: right;
    margin-right: 30px;
    color: #7b8086;
    padding-right: 20px;
    background: url(images/add.png) no-repeat right center;
}

.open {
    background: url(images/minus.png)
}

.lianxi1-1 {
    height: 90px;
    width: 1013px;
}

.lianxi1-1 div {
    position: absolute;
    top: 40px;
    left: 20px;
}

.lianxi1-2 {
    height: 90px;
    width: 1013px;
}

.lianxi1-2 div {
    position: relative;
    top: 40px;
    left: -382px;
}

.lianxi1-3 {
    height: 90px;
    width: 1013px;
}

.lianxi1-3 div {
    position: relative;
    top: 40px;
    left: -382px;
}

.video-1 {
    width: 65%;
    height: 75%;
    position: absolute;
    /* background: #ff3; */
    margin-top: 10px;
    margin-left: 20px;
}

.video-s {
    display: block;
    /* vertical-align: top; */
    box-sizing: border-box;
    color: #fff;
    background-color: #000;
    position: relative;
    padding: 0;
    font-size: 10px;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
}

.video1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
