*{
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    width: 100%;
}
header{
    width: 100%;
    height: 20px;
    /* position: fixed; */
    /* margin-top: 0; */
}
header .tb{
    /* width: 100%; */
    position: fixed;
    background: #29392e00;
    height: 40px;
    width: 210px;
    display: block;
    top:0px;
    left: 40px;
    float: left;
    z-index: 499;
}
header .tb img{
    padding-top: 3.5px;
    padding-left: 5px;
}
.headerTop{
    width: 100%;
    height: 40px;
    background: #ffffff;
    position: fixed;
    top: 0px;
    left: 40px;
    z-index: 400;
}
header a{
    margin: 0 18px;
    height: 40px;
    width: 80px;
    text-align: center;
    line-height: 40px;
    color: #505050;
    cursor: pointer;
    padding-top: 5px;
    text-decoration: none;
}
header .my {
    float: left;
    margin-left: 260px;
}
header .my .wjdzy{
    color: #49c0e0;
}
header .right .zxtw{
    background: #49c0e0;
    color: white;
    line-height: 40px;
}
header .right{
    float: right;
    margin-right: 40px;
}
.bj{
    width: 100%;
    height: 45px;
    background:#58b2d7;
    margin:20px 0px 0px 0px;
}
.htTop{
    width: 100%;
    height: 30px;
    background-color: #d8d8de;
    box-sizing: border-box;
    position: fixed;
}
.ht{
    width: 100%;
    background-color: #d8d8de;
    margin: 0 auto;
    color:#505050;
    /* overflow: hidden; */
}
.ht span{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding-left: 40px;
    font-size: 14px;
    /* float: left; */
}
.ht .return{
    line-height: 30px;
    margin-right: 80px;
    float: right;
    cursor: pointer;
}
.main{
    overflow: hidden;
    width: 100%;
    /* height: 800px; */
}
.main-z{
    margin-left: 40px;
    border: 1px solid #ccc;
    width: 210px;
    height: 600px;
    float: left;
}
.main-z-top{
    background: #49c0e0;
    width: 100%;
    height: 50px;
}
.main-z-top .jx{
    color: white;
    padding-left: 10px;
    line-height: 50px;
}
.main-z-footer{
    background: #d8d8de;
    width: 100%;
    height: 600px;
}
.main-y{
    /* margin-right: 5px; */
    width: 1075px;
    /* background: #29392e; */
    float: right;
    height: 600px;
}
.main-y-top{
    width: 800px;
    height: 50px;
    /* background-color:white; */
    box-sizing: border-box;
}
.main-y-top2{
    width: 800px;
    margin: 0 auto;
}
.main-y-top3{
    width: 800px;
    font-size: 14px;
}
.sk.current{
    color: #333;
    background-color: #f2f5f7;
    border-top: 3px solid #4ac0e0;
    border-bottom: 1px solid #f7f7f9;
}
.sk{
    display: inline-block;
    width: 160px;
    height: 46px;
    line-height: 50px;
    text-align: center;
    color: #999;
    cursor: pointer;
    font-weight: 100;
    /* border-top: 3px solid #e9e9e9; */
}
.main-y-top4{
    position: absolute;
    right: 94px;
    margin-top: -35px;
    display: inline-block;
    width: 97px;
    height: 27px;
    background: #49c0e0;
    cursor: pointer;
    font-size: 14px;
    line-height: 27px;
    color: #fff;
    padding: 0px;
    text-align: center;
}
.main-y-h{
    background: #dbb1b2;
    height: 50px;
    color: red;
    padding-left: 10px;
    line-height: 50px;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 14px;
}
.ljxz{
    color: blue;
    text-decoration: none;
}
.sp{
    margin-top: 15px;
    margin-left: 15px;
    border-bottom: 3px solid #6bb9dd;
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.sp-z{
    float: left;
}

.sp-y{
    /* border: 2px solid red; */
    width: 450px;
    height: 317px;
    float: right;
    margin-right: 30px;
}
.lieb{
    width: 128px;
    height: 33px;
    border-bottom: 3px solid #6bb9dd;
    /* background: #6bb9dd; */
    margin-top: 15px;
    margin-left: 15px;
}
.lieb a{
    color: #29392e;
    text-decoration: none;
    line-height: 33px;
    font-size: 17px;
    text-align: center;
}
.lieb img{
    width: 20px;
    padding-top: -1px;
}
.lieb-z{
    width: 100%;
    height: 40px;
    margin-top: 30px;
    font-size: 17px;
}
.lieb-z a{
    text-decoration: none;    
}
.lieb-1.current a{
    color:white;
}
.lieb-1.current{
    background: #6bb9dd;
    border-radius: 5px;
    padding-left: 5px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
.lieb-1-1 .lieb-1-3{
    float: left;
}
.lieb-1-2{
    margin-right: 30px;
    margin-top: 5px;
    width: 100px;
    border: 1px solid white;
    float: right;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-style: oblique;
}
.lieb-1{
    background: #f1eeeb;
    padding-left: 5px;
    height: 40px;
    line-height: 40px;
    color: #333;
    overflow: hidden;
}
/* .lieb-1-3{
    float: left;
} */
.lieb-1-4{
    margin-right: 47px;
    float: right;
}

.footer{
    /* margin-top:50px; */
    background-image:url(images/ditu.jpg);
    height: 126px;
    width: 100%;
    bottom: 0;
    }
.footerW{
    width: 600px;
    margin: 0 auto;
    padding-top: 15px;
}
.footer1{
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #afb0b2;
    margin-bottom: 8px;
    font-size: 16px;
    margin-top: 16px;
}
.footer1 span{
    color: #6c7177;
    font-weight: 100;
    margin-left: 10px;
}
img{
    vertical-align: middle;
    border-style: none;
}
.footer2{
    width: 100%;
    height: 25px;
    text-align: center;
}
.footer2 a:nth-of-type(1){
    margin-left: 130px;
}
.footer2 a{
    display: block;
    font-size: 14px;
    width: 120px;
    text-align: center;
    color: #afb0b2;
    float: left;
}
.jp{
    height: 30px;
    width: 600px;
    line-height: 30px;
    color: #6f7376;
    text-align: center;
    font-size: 12px;
}