*{
    padding: 0;
    margin: 0;
}
#app{
    background: #EBEEF5;
}
.title{
    padding-top: 20px;
    color: #409EFF;
    font-size: 18px;
}
.nav{
    margin-top: 25px;
    background: #000;
    height: 60px;
    line-height: 60px;
}

.el-carousel__item:nth-child(2n) {
    background-image: url("../i/f7.jpg");
    background-size: cover;
}
.el-carousel__item:nth-child(2n+1) {
    background-image: url("../i/b1.jpg");
    background-size: cover;
}

.text_one{
    margin-top: 15px;
}
.text_left_title{
    font-size: 20px;
    margin-top: 15px;
}
.text_left_content img{
    width: 100%;
    height: 165px;
    margin: 15px 0;
}
.text_left_content span{
    display: inline-block;
    margin-top: 20px;
}
.more_text{
    margin-top: 70px;
}

.main_right{
    margin-top: 20px;
}
.main_right img{
    width: 100%;
    height: 255px;
}

.footer{
    background: #000;
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 350%;
}